<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <div class = "nav">
        <img src="iphone.png" class = "iconmain">
        <h1>CloudShop</h1> 
        <button><img src="search.png"></button>
        <input type = "text" class = "text-input">
    </div>
  </header>
  <main>
    <div class = "keyboards">
        <div class = "card">
            <img src="keyboard1.png" class = "card-place-holder , keyboard1">
            <h4>Red Square Keyrox TKL Classic Retro</h4>
            <h2>24.999₸</h2>
            <img src="buy.png" class = 'icon-place-holder , icon'>
            <img src = "saved.png" class = 'icon-place-holder , icon'>
        </div>
        <div class = "card2">
          <img src="keyboard2.png" class = "card-place-holder , keyboard1">
          <h4>Red Square Keyrox Classic Pro</h4>
          <h2>31.999₸</h2>
          <img src="buy.png" class = 'icon-place-holder , icon'>
          <img src = "saved.png" class = 'icon-place-holder , icon'>
      </div>
    </div>
  </main>
  <footer>
    <nav class="footer-nav">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav>
  </footer>
</body>
</html>